// Core
@import 'core/variables';

// Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';

// Components
@import 'components/buttons';
@import 'components/forms';
@import 'components/etc';

// Pages
@import 'pages/raffle';


body {
    margin: 0;
    padding: 0;
    background-image: $pagesBackground;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: $containersFontSize;
}

.container {
    background-color: $containersColor;
    opacity: $containersOpacity;
    width: $containersWidth;
}

.container p{
    padding-left: $containersPaddingFromLeft;
}

.video{
    text-align: center;
}

iframe{
    width: $containersVideoWidth;
    height: $containersVideoWidth;
}

// tablet
@media(min-width: 768px) {
    .container {
        width: $containersWidthT;
        margin-left: $containerMarginLeftT;
    }
    iframe{
        height: $containersVideoHeightT;
    }
}
// Desde PC
@media(min-width: 1024px) {
    iframe{
        height: $containersVideoHeightPT;
    }
}

@media(min-width: 1440px) {
    iframe{
        height: $containersVideoHeightPC;
    }
}