#titulo {
  background-image: url("../img/titulobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%; }

#titulo h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  color: rgba(9, 255, 0, 0.4);
  background-image: url("../img/titulo.png");
  -webkit-background-clip: text;
  animation: titulo 15s infinite; }

.menu {
  margin-top: -10%;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%; }

.menu ul {
  margin-left: -8%;
  list-style-type: none; }

.menu ul li {
  padding-top: 10px;
  padding-bottom: 10px; }

.menu ul li a {
  color: white;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase; }

.menu ul li a:hover {
  background-color: #444; }

.active {
  background-color: #4CAF50; }

@keyframes titulo {
  from {
    background-position: left 0 top 0; }
  to {
    background-position: left 1000px top 0; } }
@media (min-width: 768px) {
  #titulo h1 {
    font-size: 80px; }

  .menu {
    margin-top: -4%; } }
@media (min-width: 1024px) {
  .menu {
    margin-left: 10%;
    width: 80%;
    margin-top: -2.3%; } }
@media (min-width: 1440px) {
  .menu {
    margin-top: -1.7%; } }
#pie {
  padding-top: 20px;
  background-color: black;
  color: white; }

#lateral img {
  width: 80%;
  height: auto; }

@media (min-width: 768px) {
  #lateral img {
    width: 60%;
    height: auto; } }
@media (min-width: 1024px) {
  #lateral img {
    width: 30%;
    height: auto; } }
.thumbnail {
  background-color: black;
  width: 50%;
  padding-top: 2%; }

.thumbnail a img {
  width: 70%;
  height: auto; }

.thumbnail p {
  padding-bottom: 5px;
  padding-top: -20px; }

.caption {
  color: white; }

.comidas {
  padding-top: 20px; }

.detalles b {
  padding-left: 10%; }

.recetas, .recetas:visited, .recetas:hover, .recetas:active {
  text-decoration: none;
  color: green; }

.imagenRecetas {
  width: 100%; }

.imagenReceta {
  width: 100%; }

.source a, .source a:visited, .source a:hover, .source a:active {
  text-decoration: none;
  color: green; }

.source {
  padding-bottom: 10px; }

@media (min-width: 768px) {
  .imagenRecetas {
    width: 70%; } }
@media (min-width: 1024px) {
  .imagenRecetas {
    width: 70%; }

  .imagenReceta {
    width: 70%; }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto; }

  .grid-item {
    padding: 20px;
    text-align: center; } }
@media (min-width: 1440px) {
  .imagenRecetas {
    width: 60%; }

  .imagenReceta {
    width: 50%; }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto; }

  .grid-item {
    padding: 20px;
    text-align: center; } }
.btn {
  width: 50px;
  height: 40px;
  margin: 10px;
  font-size: 35px;
  color: #4CAF50; }

.btn, .btn:link, .btn:visited, .btn:hover {
  text-decoration: none; }

.btn i {
  font-size: 35px; }

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1; }

.arriba {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #4CAF50;
  bottom: 20px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 25px; }

.arriba:hover {
  color: black; }

.formulario {
  max-width: 80%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }

.formulario h5 {
  text-align: center; }

.sorteofile {
  margin: 10px; }

input.sortexto {
  width: 100%;
  border: 0;
  background: black;
  padding: 10px;
  margin: 5px 0;
  outline: none;
  color: white;
  transition: 0.5s; }

input.sortexto:focus {
  box-shadow: 0 0 10px 4px #4CAF50; }

input.sortbtn {
  border: 0;
  background: black;
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s; }

input.sortbtn:hover {
  background: #4CAF50; }

.contactanos {
  position: fixed;
  top: 45%;
  z-index: 99999;
  left: 0; }

.opcion a {
  color: black; }

.opcion i {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #afff7a;
  font-size: 20px; }

/* ARRIBA!! */
html {
  scroll-behavior: smooth; }

/* CUERPO SORTEO*/
#c-cuerpo {
  text-align: center; }

.ganadoranterior {
  height: 150px;
  width: auto;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  background-image: url("../img/snow1.png"), url("../img/snow2.png"), url("../img/snow3.png");
  animation: nieve 20s linear infinite;
  margin-bottom: 10px;
  padding-bottom: 10px; }

@keyframes nieve {
  0% {
    background-position: 0 0, 0 0, 0 0; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
.ganadoranterior b {
  padding-left: -10%;
  line-height: 50px;
  font-size: 24px;
  color: white; }

.ganadoranterior p {
  color: #4CAF50;
  font-size: 20px; }

.criterios {
  visibility: hidden;
  margin-bottom: -15%; }

.criterios .oculto {
  width: 50%;
  display: table;
  height: auto;
  overflow: visible;
  background: black;
  color: white;
  transition: all 1s ease; }

@media (min-width: 1024px) {
  .criterios {
    margin-bottom: 0%;
    visibility: visible; } }
.no-oculto {
  padding: 10px 10px 0; }

.no-oculto p {
  color: #4CAF50; }

table {
  border-collapse: collapse;
  text-align: center; }

table,
th,
td {
  border: 1px solid white;
  padding: 5px; }

.criterios input[type="checkbox"]:not(:checked) + .oculto {
  height: 0;
  opacity: 0;
  display: block; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px; }

.container {
  background-color: white;
  opacity: 0.9;
  width: 100%; }

.container p {
  padding-left: 10px; }

.video {
  text-align: center; }

iframe {
  width: 90%;
  height: 90%; }

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin-left: 5%; }

  iframe {
    height: 370px; } }
@media (min-width: 1024px) {
  iframe {
    height: 460px; } }
@media (min-width: 1440px) {
  iframe {
    height: 750px; } }

/*# sourceMappingURL=general.css.map */
