#titulo {
  background-image: url("../../img/titulobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -118.5%;
  min-height: 200px; }

#titulo h1 {
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 8%;
  color: rgba(9, 255, 0, 0.4);
  background-image: url("../../img/titulo.png");
  -webkit-background-clip: text;
  animation: titulo 15s infinite; }

.menu {
  margin-top: -5%;
  text-align: center;
  background-color: black;
  color: white;
  width: 700px; }

.menu ul {
  list-style-type: none; }

.menu ul li {
  padding-top: 10px;
  padding-bottom: 10px; }

.menu ul li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase; }

.menu ul li a:hover {
  background-color: #444; }

.active {
  background-color: #4CAF50; }

@keyframes titulo {
  from {
    background-position: left 0 top 0; }
  to {
    background-position: left 1000px top 0; } }
@media (min-width: 768px) {
  #titulo h1 {
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 4%;
    color: rgba(9, 255, 0, 0.4);
    background-image: url("../../img/titulo.png");
    -webkit-background-clip: text;
    animation: titulo 15s infinite; } }
@media (min-width: 1024px) {
  #titulo h1 {
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 2%;
    color: rgba(9, 255, 0, 0.4);
    background-image: url("../../img/titulo.png");
    -webkit-background-clip: text;
    animation: titulo 15s infinite; } }
#pie {
  background-color: black;
  color: white; }

.btn {
  width: 50px;
  height: 40px;
  background: black;
  margin: 5px;
  border-radius: 30%;
  color: #4CAF50;
  overflow: hidden;
  position: relative; }

.btn i {
  font-size: 24px;
  transition: 0.4s linear; }

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1; }

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #4CAF50;
  transform: rotate(45deg);
  left: -110%;
  top: 90%; }

.btn:hover::before {
  animation: xD 0.7s 1;
  top: -10%;
  left: -10%; }

@keyframes xD {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }
.contactanos {
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0; }

.opcion {
  cursor: pointer;
  position: relative; }

.opcion a {
  color: black; }

.opcion a:hover {
  text-decoration: none; }

.opcion i {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #f1f1f1;
  font-size: 20px;
  transition: 0.6s; }

.opcion:hover i {
  color: #3498db; }

.texto {
  position: absolute;
  height: 60px;
  width: 200px;
  background: black;
  color: white;
  top: 0;
  z-index: -1;
  left: -140px;
  line-height: 60px;
  text-align: center;
  transition: 0.6s; }

.opcion:hover .texto {
  left: 60px; }

/* ARRIBA!! */
html {
  scroll-behavior: smooth; }

section {
  width: 100%;
  height: 300vh;
  background: url("bg.jpg") no-repeat;
  background-size: cover; }

.arriba {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #4CAF50;
  bottom: 20px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px; }

.arriba:hover {
  color: black; }

.video {
  text-align: center; }

/* CUERPO SORTEO*/
#c-cuerpo {
  text-align: center; }

.formulario {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }

.formulario h5 {
  text-align: center; }

.sorteofile {
  margin: 10px; }

input.sortexto {
  width: 100%;
  border: 0;
  background: black;
  padding: 10px;
  margin: 5px 0;
  outline: none;
  color: white;
  transition: 0.5s; }

input.sortexto:focus {
  box-shadow: 0 0 10px 4px #4CAF50; }

input.sortbtn {
  border: 0;
  background: black;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s; }

input.sortbtn:hover {
  background: #4CAF50; }

.ganadoranterior {
  height: 150px;
  width: auto;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  background-image: url("../img/snow1.png"), url("../img/snow2.png"), url("../img/snow3.png");
  animation: nieve 20s linear infinite;
  margin-bottom: 10px; }

@keyframes nieve {
  0% {
    background-position: 0 0, 0 0, 0 0; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
.ganadoranterior b {
  line-height: 50px;
  font-size: 24px;
  color: White; }

.ganadoranterior p {
  color: #4CAF50;
  font-size: 20px; }

.criterios .oculto {
  width: 50%;
  display: table;
  height: auto;
  overflow: visible;
  background: black;
  color: white;
  transition: all 1s ease; }

.no-oculto {
  padding: 10px 10px 0; }

.no-oculto p {
  color: #4CAF50; }

table {
  border-collapse: collapse;
  text-align: center; }

table,
th,
td {
  border: 1px solid white;
  padding: 5px; }

.criterios input[type="checkbox"]:not(:checked) + .oculto {
  height: 0;
  opacity: 0;
  display: block; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  background-color: white;
  opacity: 0.9;
  width: 700px; }

/*# sourceMappingURL=general.css.map */
