// Core
@import 'core/variables';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/forms';
@import 'components/etc';

// Pages
@import 'pages/home';
@import 'pages/raffle';


body {
    margin: 0;
    padding: 0;
    background-image: $imagenBackgroundPag;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}

.container {
    background-color: $colorContainers;
    opacity: $opacidadContainers;
    width: 700px;
}

.container p{
    padding-left: 10px;
}
