// LATERAL
#lateral img {
    width: $indexImageWidth;
    height: $indexImageHeight;
}

@media(min-width: 768px) {
    #lateral img {
        width: $indexImageWidthT;
        height: $indexImageHeight;
    }
}
// Desde PC
@media(min-width: 1024px) {
    #lateral img {
        width: $indexImageWidthPT;
        height: $indexImageHeight;
    }
}

// BODY
.thumbnail {
    background-color: $thumbnailBackgroundColor;
    width: $thumbnailWidth;
    padding-top: $thumbnailPaddingTop;
}

.thumbnail a img{
    width: $thumbnailImageWidth;
    height: $thumbnailImageHeight;
}

.thumbnail p {
    padding-bottom: $thumbnailParaphPaddingBottom;
    padding-top: $thumbnailParaphPaddingTop;
}

.caption {
    color: $captionColor;
}

.comidas{
    padding-top: $foodsPaddingTop;
}

.detalles b{
    padding-left: $foodsBTagsPaddingLeft;
}

.recetas, .recetas:visited, .recetas:hover, .recetas:active{
    text-decoration: $foodsAHREFDecorations;
    color: $foodsAHREFColors;
}

.imagenRecetas{
    width: $foodsImagesWidth;
}

.imagenReceta{
    width: $foodImageWidth;
}

.source a, .source a:visited, .source a:hover, .source a:active{
    text-decoration: $foodsAHREFDecorations;
    color: $foodsAHREFColors;
}

.source{
    padding-bottom: $foodSourcePaddingBottom;
}



// tablet
@media(min-width: 768px) {
    .imagenRecetas{
        width: $foodsImagesWidthT;
    }
}
// Desde PC
@media(min-width: 1024px) {
    .imagenRecetas{
        width: $foodsImagesWidthPT;
    }
    .imagenReceta{
        width: $foodImageWidthPT;
    }
    .grid-container{
        display: $gridContainerDisplay;
        grid-template-columns: $gridContainerTemplateColumns;
    }
    .grid-item{
        padding: $gridItemPadding;
        text-align: $gridTextAlign;
    }
}

@media(min-width: 1440px) {
    .imagenRecetas{
        width: $foodsImagesWidthPC;
    }
    .imagenReceta{
        width: $foodImageWidthPC;
    }
    .grid-container{
        display: $gridContainerDisplay;
        grid-template-columns: $gridContainerTemplateColumns;
    }
    .grid-item{
        padding: $gridItemPadding;
        text-align: $gridTextAlign;
    }
}