// LATERAL

#lateral img {
    width: 150px;
    height: auto;
}

// BODY
.thumbnail {
    background-color: black;
}

.thumbnail p {
    padding: 10px;
}

.caption {
    color: white;
}

/* CUERPO DULCES*/

.dulces {
    padding: 15px;
}

/* CUERPO SALADOS */

.salados {
    padding: 15px;
}

/* CUERPO BEBIDAS */

.bebidas {
    padding: 15px;
}
