#titulo {
    background-image: $headerBackgroundImage;
    background-repeat: $headerBackgroundRepeat;
    background-size: $headerBackgroundSize;
    min-height: $headerBackgroundMinHeight;
    width: $headerBackgroundWidth;
}

#titulo h1 {
    font-size: $headerTitleFontSize;
    text-transform: $headerTextTransform;
    text-align: $headerTextAlign;
    margin: 0;
    padding-top: $headerTextPaddingTop;
    color: $headerTextColor;
    background-image: $headerTextBackgroundImage;
    -webkit-background-clip: $headerTextWebkit;
    animation: $headerTextAnimation;
}

// Navegador
.menu {
    margin-top: $menuMarginTop;
    text-align: $menuTextAlign;
    background-color: $menuBackgroundColor;
    color: $menuTextColor;
    width: $menuWidth;
}

.menu ul {
    margin-left: $menuULMarginLeft;
    list-style-type: $menuULListStyleType;
}

.menu ul li {
    padding-top: $menuLIPaddingTop;
    padding-bottom: $menuLIPaddingBottom;
}

.menu ul li a {
    color: $menuAColor;
    padding: $menuAPadding;
    font-size: $menuAFontSize;
    text-decoration: $menuATextDecoration;
    text-transform: $menuATextTransform;
}

.menu ul li a:hover {
    background-color: $menuAHoverBackgroundColor;
}

.active {
    background-color: $menuActive;
}

@keyframes titulo {
    from {
        background-position: left 0 top 0;
    }
    to {
        background-position: left 1000px top 0;
    }
}

// tablet
@media(min-width: 768px) {
    #titulo h1 {
        font-size: $headerTitleFontSizeT;
    }
    .menu {
        margin-top: $menuMarginTopT;
    }
}
// Desde PC
@media(min-width: 1024px) {
    .menu {
        margin-left: $menuMarginLeftPT;
        width: $menuWidthPT;
        margin-top: $menuMarginTopPT;
    }
}

@media(min-width: 1440px) {

    .menu {
        margin-top: $menuMarginTopPC;
    }
}
