#titulo {
    background-image: url('../../img/titulobg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -118.5%;
    min-height: 200px;
}

#titulo h1 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 8%;
    color: hsla(118, 100%, 50%, 0.4);
    background-image: url('../../img/titulo.png');
    -webkit-background-clip: text;
    animation: titulo 15s infinite;
}

// Navegador
.menu {
    margin-top: -10%;
    text-align: center;
    background-color: black;
    color: white;
    width: 700px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul li a {
    color: white;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    background-color: #444;
}

.active {
    background-color: #4CAF50;
}

@keyframes titulo {
    from {
        background-position: left 0 top 0;
    }
    to {
        background-position: left 1000px top 0;
    }
}

// tablet
@media(min-width: 768px) {
    #titulo h1 {
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding-top: 4%;
        color: hsla(118, 100%, 50%, 0.4);
        background-image: url('../../img/titulo.png');
        -webkit-background-clip: text;
        animation: titulo 15s infinite;
    }
}
// Desde PC
@media(min-width: 1024px) {
    #titulo h1 {
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding-top: 2%;
        color: hsla(118, 100%, 50%, 0.4);
        background-image: url('../../img/titulo.png');
        -webkit-background-clip: text;
        animation: titulo 15s infinite;
    }
}
