.contactanos {
    position: $contactPosition;
    top: $contactTop;
    z-index: $contactZIndex;
    left: $contactLeft;
}

.opcion a {
    color: $contactColor;
}

.opcion i {
    display: $contactDisplay;
    width: $contactWidth;
    height: $contactHeight;
    text-align: $contactTextAlign;
    line-height: $contactLineHeight;
    background: $contactBackground;
    font-size: $contactFontSize;
}


/* ARRIBA!! */
html {
    scroll-behavior: $scrollHTMLBehavior;
}

