/* CUERPO SORTEO*/
#c-cuerpo {
    text-align: $raffleTextAlign;
}

.ganadoranterior {
    height: $raffleWinnerHeight;
    width: $raffleWinnerWidth;
    vertical-align: $raffleWinnerVerticalAlign;
    text-align: $raffleWinnerTextAlign;
    background-color: $raffleWinnerBGColor;
    background-image: $raffleWinnerBGImg;
    animation: $raffleWinnerAnimation;
    margin-bottom: $raffleWinnerMarginBottom;
    padding-bottom: $raffleWinnerPaddingBottom;
}

@keyframes nieve {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

.ganadoranterior b {
    padding-left: (-$foodsBTagsPaddingLeft);
    line-height: $raffleWinnerLineHeight;
    font-size: $raffleWinnerFontSize;
    color: $raffleWinnerColor;
}

.ganadoranterior p {
    color: $raffleWinnerTextColor;
    font-size: $raffleWinnerTextFontSize;
}

.criterios{
    visibility: $raffleCriteriosVisibility;
    margin-bottom: $raffleCriteriosMarginBottom;
}

.criterios .oculto {
    width: $raffleCriteriosWidth;
    display: $raffleCriteriosDisplay;
    height: $raffleCriteriosHeight;
    overflow: $raffleCriteriosOverflow;
    background: $raffleCriteriosBG;
    color: $raffleCriteriosColor;
    transition: $raffleCriteriosTransition;
}

@media(min-width: 1024px) {
    .criterios{
        margin-bottom: $raffleCriteriosMarginBottomPT;
        visibility: $raffleCriteriosVisibilityPT;
    }
}

.no-oculto {
    padding: $raffleCriteriosPadding;
}

.no-oculto p {
    color: $raffleCriteriosTextColor;
}

table {
    border-collapse: $raffleCriteriosTableBorder;
    text-align: $raffleCriteriosTableTextAlign;
}

table,
th,
td {
    border: $raffleTableBorder;
    padding: $raffleTablePadding;
}

.criterios input[type="checkbox"]:not(:checked) + .oculto {
    height: $raffleCriteriosOcultoHeight;
    opacity: $raffleCriteriosOcultoOpacity;
    display: $raffleCriteriosOcultoDisplay;
}
